@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../../shared/assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  background-color: var(--bg-main);
  color: var(--text-main);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --bg-main: #f8fafc;
  --bg-card: #ffffff;

  --bg-header: #419ed0;

  --text-main: #0f172a;
  --text-muted: #64748b;
  --text-light: #f0e9e9e4;

  --border: #e2e8f0;

  --bg-hover: #f1f5f9; 
}
[data-theme='dark'] {
  --bg-main: #0f172a;
  --bg-card: #1e293b;
  --bg-header: #1e293b;

  --text-main: #f1f5f9;
  --text-muted: #94a3b8;
  --text-light: #f8fafc;

  --border: #334155;

   --bg-hover: #2d3b4f;
}