.card {
  margin-bottom: 1.5rem;
}

.title {
  margin-bottom: 1rem;
}

.status {
  padding: 0.125rem 0.5rem;
  border-radius: 12px;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: capitalize;
}

.scheduled {
  background-color: var(--bg-event);
  color: var(--text-event);
}

.completed {
  background-color: var(--bg-event-completed);
  color: var(--text-event-completed);
}

.cancelled {
  background-color: var(--bg-danger);
  color: var(--text-danger);
}

.no_show {
  background-color: var(--bg-event-cancelled);
  color: var(--text-event-cancelled);
}