.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.title {
  margin: 0;
}

.action {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}